<employee></employee>

<div style="display:inline-flex">
    <div style="display: inline-block;">

        <div class="container" style="padding-left:0px;width:100%">
            <div class="row">
                <div class="col-md-12">


                    <form action="/" method="GET">


                        <div class="input-group" id="adv-search" style="display: inline-block">

                            <div style="display: flex">
                                <input type="text" class="form-control" placeholder="Search for snippets" name="jobSearch" />
                                <div class="input-group-btn">

                                    <div class="btn-group" role="group">

                                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="filter">What are you looking for</label>
                                <select class="form-control" name="who">
	                            <option value="0" selected>Job</option>
	                            <option value="1">Client</option>  
	                            <option value="2">worker</option>   
	                            <option value="3">worker</option> 
	                            <option value="4">other...</option> 
	                        </select>
                            </div>
                            <div class="form-group">
                                <label for="filter">Category</label>
                                <select class="form-control" name="category" onchange="categorySelected(this)">	
	                        	<option value="" >Choose Category</option>
	                        	<option value="" >Cat 2</option>
	                        	<option value="" >Cat 3</option>
	                        	<option value="" >Cat 4</option>
	                        	<option value="" >Cat 5</option>
	                        </select>
                            </div>


                            <div class="form-group">
                                <label for="filter">Sub Category</label>
                                <select class="form-control" name="category" id="subCategoryID">
	                        
	                        </select>
                            </div>
                            <div class="form-group">
                                <label for="contain">KeyWords</label>
                                <input class="form-control" type="text" name="keywords" />
                            </div>





                        </div>
                    </form>

                    <div>

                        <h1>Recent Searches</h1>

                        <a href="">Search 1</a>
                        <a href="">Search 2</a>
                        <a href="">Search 3</a>
                        <a href="">Search 4</a>
                        <a href="">Search 5</a>
                    </div>


                </div>
            </div>
        </div>


    </div>

    <div style="width:80%">
        <div class="container" style="width:100%">
            <div class="col-md-12">

                <div>
                    <a href="#">
                        <h1>Alice in Wonderland, part dos</h1>
                    </a>
                    <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then
                        they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the
                        Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on
                        in these words: 'Yes, we went to school in the sea, though you mayn't believe it—' 'I never said
                        I didn't!' interrupted Alice. 'You did,' said the Mock Turtle.</p>
                    <div>
                        <span class="badge">Posted 2012-08-02 20:47:04</span>
                        <div class="pull-right">
                            <span class="label label-default">alice</span>
                            <span class="label label-primary">story</span>
                            <span class="label label-success">blog</span>
                            <span class="label label-info">personal</span>
                            <span class="label label-warning">Warning</span>
                            <span class="label label-danger">Danger</span>
                        </div>
                    </div>
                    <hr>
                </div>


                <div>
                    <h1>Revolution has begun!</h1>
                    <p>'I am bound to Tahiti for more men.' 'Very good. Let me board you a moment—I come in peace.' With that
                        he leaped from the canoe, swam to the boat; and climbing the gunwale, stood face to face with the
                        captain. 'Cross your arms, sir; throw back your head. Now, repeat after me. As soon as Steelkilt
                        leaves me, I swear to beach this boat on yonder island, and remain there six days. If I do not, may
                        lightning strike me!'A pretty scholar,' laughed the Lakeman. 'Adios, Senor!' and leaping into the
                        sea, he swam back to his comrades.</p>
                    <div>
                        <span class="badge">Posted 2012-08-02 20:47:04</span>
                        <div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span
                                class="label label-success">blog</span> <span class="label label-info">personal</span> <span
                                class="label label-warning">Warning</span>
                            <span class="label label-danger">Danger</span></div>
                    </div>
                    <hr>
                </div>


            </div>
        </div>
    </div>
</div>