<employer></employer>




<style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    
    .row.content {
        height: 100%
    }
    /* Set gray background color and 100% height */
    
    .sidenav {
        background-color: #f1f1f1;
        height: 100%;
    }
    /* Set black background color, white text and some padding */
    
    footer {
        background-color: #555;
        color: white;
        padding: 15px;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
    
    @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;
        }
        .row.content {
            height: auto;
        }
    }
    
    .hidden {
        display: none;
    }
</style>


<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <p>Your Account</p>
            <div class="nav">
                <div class="taboz">

                    <ul class="nav nav-pills nav-stacked">

                        <li><a href="#stage1">Job Title</a></li>
                        <li><a href="#stage2">Job Title</a></li>

                    </ul>

                </div>
            </div>
        </div>


        <div class="col-sm-9 tab-content" id="stage1">
            <div class="form-group">



                <h1 class="form-control">Job Title</h1>


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <!--  <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Collapsible Group Item #1
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div> -->


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse<%=j%>">


                                    <strong>   
                                                        FName LName
                                                </strong> 17.01.1992
                                </a>
                            </h4>
                        </div>
                        <div id="collapse<%=j%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="form-group">

                                    View Profile of
                                    <a href="#" target="_blank">
                                        Worker Fname + Lname
                                    </a>

                                    <br>
                                    <br>
                                    <br> cover letter
                                    <p>
                                        Cover letter text is written there oasdjhasdoad asdohjk asdojhasdh asd
                                    </p>
                                    <br/> Why Me
                                    <p>
                                        Why to choose me text is written there
                                    </p>
                                    <br/> Duration
                                    <p>
                                        1 Month</p>
                                    <br/> Price
                                    <p>
                                        100 GEL</p>
                                    <br/>



                                </div>
                                <form action="messenger">
                                    <input type="hidden" name="candidade" value="#">
                                    <div class="form-group">
                                        <input type="submit" value="Send Message">
                                    </div>
                                </form>

                                <form action="confirmProposal" method="POST">
                                    <input type="hidden" name="proposal" value="#">
                                    <input type="hidden" name="candidade" value="#">
                                    <div class="form-group">
                                        <input type="submit" value="Confirm Proposal">
                                    </div>
                                </form>

                                <form action="declineProposal" method="POST">
                                    <input type="hidden" name="proposal" value="#">
                                    <input type="hidden" name="candidade" value="#">
                                    <div class="form-group">
                                        <input type="submit" value="Decline Proposal">
                                    </div>
                                </form>


                                <label class="form-control">Applicant was declined</label>

                                <label class="form-control">Applicant was accepted</label>

                                <form action="leaveFeedback" method="POST">
                                    <input type="hidden" name="proposalGUID" value="#">
                                    <input type="hidden" name="jobGUID" value="#">
                                    <input type="hidden" name="candidade" value="#">


                                    <label class="form-control">Leave Feedback</label>
                                    <select name="feedback" class="form-control">

                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5" selected="">5</option>
                                                  </select>

                                    <label class="form-control">Write your experience</label>
                                    <textarea name="feedbackText" class="form-control"></textarea>
                                    <div class="form-group">
                                        <input type="submit" value="Submit Feedback">
                                    </div>
                                </form>

                                <div class="form-group">
                                    <br/>
                                    <br/>
                                    <br/>
                                    <h1 class="form-control">Your feedback to Worker</h1>
                                    <label class="">feedback text</label>
                                    <br/>
                                    <br/>
                                    <label>Starts  feedback score</label>
                                </div>

                            </div>
                        </div>
                    </div>



<!--
                     <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseThree">
                                    Collapsible Group Item #3
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div> -->


                </div>


            </div>
        </div>





        <div class="col-sm-9 tab-content" id="stage2">
            <div class="form-group">



                <h1 class="form-control">Job Title</h1>


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <!--  <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Collapsible Group Item #1
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div> -->


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse<%=j%>">


                                    <strong>   
                                                        FName LName  2
                                                </strong> 17.01.1992
                                </a>
                            </h4>
                        </div>
                        <div id="collapse<%=j%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="form-group">

                                    View Profile of
                                    <a href="#" target="_blank">
                                        Worker Fname + Lname
                                    </a>

                                    <br>
                                    <br>
                                    <br> cover letter
                                    <p>
                                        Cover letter text is written there oasdjhasdoad asdohjk asdojhasdh asd
                                    </p>
                                    <br/> Why Me
                                    <p>
                                        Why to choose me text is written there
                                    </p>
                                    <br/> Duration
                                    <p>
                                        1 Month</p>
                                    <br/> Price
                                    <p>
                                        100 GEL</p>
                                    <br/>



                                </div>
                                <form action="messenger">
                                    <input type="hidden" name="candidade" value="#">
                                    <div class="form-group">
                                        <input type="submit" value="Send Message">
                                    </div>
                                </form>

                                <form action="confirmProposal" method="POST">
                                    <input type="hidden" name="proposal" value="#">
                                    <input type="hidden" name="candidade" value="#">
                                    <div class="form-group">
                                        <input type="submit" value="Confirm Proposal">
                                    </div>
                                </form>

                                <form action="declineProposal" method="POST">
                                    <input type="hidden" name="proposal" value="#">
                                    <input type="hidden" name="candidade" value="#">
                                    <div class="form-group">
                                        <input type="submit" value="Decline Proposal">
                                    </div>
                                </form>


                                <label class="form-control">Applicant was declined</label>

                                <label class="form-control">Applicant was accepted</label>

                                <form action="leaveFeedback" method="POST">
                                    <input type="hidden" name="proposalGUID" value="#">
                                    <input type="hidden" name="jobGUID" value="#">
                                    <input type="hidden" name="candidade" value="#">


                                    <label class="form-control">Leave Feedback</label>
                                    <select name="feedback" class="form-control">

                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5" selected="">5</option>
                                                  </select>

                                    <label class="form-control">Write your experience</label>
                                    <textarea name="feedbackText" class="form-control"></textarea>
                                    <div class="form-group">
                                        <input type="submit" value="Submit Feedback">
                                    </div>
                                </form>

                                <div class="form-group">
                                    <br/>
                                    <br/>
                                    <br/>
                                    <h1 class="form-control">Your feedback to Worker</h1>
                                    <label class="">feedback text</label>
                                    <br/>
                                    <br/>
                                    <label>Starts  feedback score</label>
                                </div>

                            </div>
                        </div>
                    </div>



<!--
                     <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseThree">
                                    Collapsible Group Item #3
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div> -->


                </div>


            </div>
        </div>

    </div>
</div>